@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
	position: relative;
	height: 100vh;
}

.header__slider {
	&-item {
		height: 100vh;
		background-image: url("../images/header-bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
	}	
}

.slider-item__info {
	position: absolute;
	right: 80px;
	bottom: 116px;
	text-align: right;
	color: #fff;
	text-transform: uppercase;
}

.slider-item__info-suptitle {
	margin-bottom: 5px;
}

.slider-item__info-suptext {
	margin-bottom: 8px;
}

.slider-item__info-title {
	font-size: 80px;
	line-height: 86px;
	font-weight: 800;

	margin-bottom: 48px;
}

.slider-item__info-text {
	font-size: 40px;
	line-height: 46px;
	font-weight: 800;

	margin-bottom: 20px;
}

.slider-arrows {
	position: absolute;
	top: 40px;
	right: 80px;
	cursor: pointer;
	z-index: 4;
}


.slider-arrows__left {
	right: 125px;
}

.slider-dots {
	position: absolute;
	right: 50px;
	bottom: 36px;
	max-width: 920px;
	width: 100%;
	color: #fff;
	.slick-current {
		.dots-box {
			border-top: 4px solid $green;
		}
	}
}

.dots-box {
	width: 200px;
	display: flex;
	justify-content: space-between;
	height: 28px;
	align-items: center;
	border-top: 4px solid #fff;
	padding-top: 6px;
	&__number {
		font-size: 24px;
		line-height: 34;
		font-weight: 800;
	}
	&__name {
		font-weight: 300;
		line-height: 19px;
	}
}

@import "media";
